{% extends 'paypal/base.html' %}

{% block js %}
	{{ block.super }}
	<script src="https://www.paypalobjects.com/js/external/apdg.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

	<form action="https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" class="standard">
	
	<label for="buy">Buy Now:</label>
	<input type="image" id="submitBtn" value="Pay with PayPal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif">
	<input id="type" type="hidden" name="expType" value="mini">
	<input id="paykey" type="hidden" name="paykey" value="{{payKey}}">
	
	</form>
	<script type="text/javascript" charset="utf-8">
	var dgFlowMini = new PAYPAL.apps.DGFlowMini({trigger: 'submitBtn'});
	</script>
	
	{{payKey}}

{% endblock %}