html, body {
	height:100%;  /* new */
	width:100%;
	margin:0;
	font-family: roboto !important;
	color: #444 !important;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	
	
	
	
	max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  	-webkit-overflow-scrolling: touch;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, a {
/* 	border-radius:0px !important; */
}

#logout-btn-container {
	text-align:right;
	margin-top: -12px; 
}

#logout-btn {
	color: #579679;
	color: grey;
/* 	float: right; */
	font-size: 10px;
/* 	margin-top: 25px; */
	text-decoration: none !important;
}

#navigation-content {
	padding-left: 0px;
	padding-right: 0px;
	padding-top:14px;
	text-align:center;
}


.nav a {
	color:white;
	text-align:center;
}
.nav {
	text-align:center;
	vertical-align:middle;
	padding-top:10px;
}

#navigation {
	color:white !important;
    
    list-style: none;
    margin: 0;
    
    height:60px;
    text-align: left;
    
    position: fixed;   /* new */
    bottom: -5px;  /* new */
    width: 100%;  /* new */
    
    box-shadow: 0 -1px 5px 2px rgba(0,0,0,.20);
	background-color:#579679;
	
}

#navigation a {
	font-size:18px;
	color:white;
	padding:20px;
	font-weight:normal !important;
	margin-top:0px;
	text-decoration: none;
	
}

#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
}
#navigation li.last {
    margin-right: 0;
}

.nav-tabs > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

}

.font {
	font-family: roboto !important;	
}

.active-field {
	
    background-color: lightgrey !important; /*fallback color*/
    border-color: #ddd !important;
    background-image: url(green.png);
    background-size: 100% 100%; /*your percentage is the first one (width), second one (100%) is for height*/
    background-repeat: no-repeat; 
	
	color:white !important;
    
/*     text-shadow: */
/*     -1px -1px 0.2px #579679, */
/*     1px -1px 0.2px #579679, */
/*     -1px 1px 0.2px #579679, */
/*     1px 1px 0.2px #579679; */
    
/*     text-shadow:  */
/*     5px 5px 10px #579679, */
/*     -5px -5px 10px #579679, */
/*     5px -5px 10px #579679, */
/*     -5px 5px 10px #579679; */
}

.btn-primary {
	background-color: #579679 !important;
	border-color: #579679 !important;
}

.glyphicon-ok {
	color:  #579679 !important;
}

.bottom-buttons {
	margin-top : 30px;
}

img.logo {
	width:150px;
	margin:8px;
}

.progress-bar-success {
  background-color: #579679 !important;
}

.btn-default {
	background-color:#F4F4F4 !important;
}

.link{
	cursor:pointer;
}

.open-bill {
	margin-bottom:40px !important;
}

h1 {
	font-weight:normal !important;
	color: #579679 !important;
	font-size: 1.5em !important;
	margin-bottom: 30px !important;
}
#btn-submit {
	background-color:#0C4B33;
	color:white;
	margin-bottom:40px;
}

.modal-header {
	color:white !important;
	font-size:1.5em;

}

#add_user_field {
	margin-bottom:10px;
}

#header {
	box-shadow: 0 1px 5px 2px rgba(0,0,0,.20);
}

#header, .modal-header {	
	padding:10px;
	background-color: #0C4B33;
}
#menu {
	position:relative;
	z-index:-1;
	box-shadow: 0 1px 5px 2px rgba(0,0,0,.20);

	height:45px;
	background-color:#579679;
	
}
#content {
	padding:15px;
	margin-bottom: 30px;
}



.hidden {
	display:none;
}

.amount_indication, .delete_indication {
	float:right;

}
.delete_indication{
		padding-left:20px;
	padding-right:10px;
}




@keyframes flickerAnimation {
  0%   { opacity:0.6; }
  50%  { opacity:0.4; }
  100% { opacity:0.6; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0.6; }
  50%  { opacity:0.4; }
  100% { opacity:0.6; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0.6; }
  50%  { opacity:0.4; }
  100% { opacity:0.6; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0.6; }
  50%  { opacity:0.4; }
  100% { opacity:0.6; }
}
.blockOverlay {
   -webkit-animation: flickerAnimation 2s infinite !important;
   -moz-animation: flickerAnimation 2s infinite !important;
   -o-animation: flickerAnimation 2s infinite !important;
    animation: flickerAnimation 2s infinite !important;
}